@import url('https://fonts.googleapis.com/css2?family=Source+Code+Pro&display=swap');



body{
   background-image: url(https://i.pinimg.com/564x/ad/76/da/ad76dab245e8fa46bb8c2df200274879.jpg) ;
   background-size: cover;
   background-repeat: no-repeat;
   background-attachment: fixed;
   text-align: center;
}
div{
    box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
    width: 300px;
    font-size: 25px;
    font-family: 'Source Code Pro', monospace;
      color: #ffffff;
      border-radius: 15px;
      padding: 15px 20px;
      text-align: center;
      margin: 20px auto;
      margin-top: 250px;
      background-color: #112dcf8d;
  }