@import url('https://fonts.googleapis.com/css2?family=Source+Code+Pro&display=swap');



body{
   background-image: url(https://i.pinimg.com/564x/d7/7c/41/d77c419e01e6738c421f01ed27c1dae3.jpg) ;
   background-size: cover;
   background-repeat: no-repeat;
   background-attachment: fixed;
   text-align: center;
}
div{
    box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
    width: 300px;
    font-size: 25px;
    font-family: 'Source Code Pro', monospace;
      color: #212020;
      border-radius: 15px;
      padding: 15px 20px;
      text-align: center;
      margin: 20px auto;
      margin-top: 200px;
      background-color: #1097518d;
  }