 @import url('https://fonts.googleapis.com/css2?family=Ruslan+Display&display=swap');


body{
   background-image: url(https://i.pinimg.com/564x/7f/3b/05/7f3b0596b76ab8fab9b1fa69a97ac764.jpg) ;
   background-size: cover;
   background-repeat: no-repeat;
   background-attachment: fixed;
   text-align: center;
}
div{
    box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
    width: 300px;
    font-size: 25px;
    font-family: 'Ruslan Display', sans-serif;
      color: #212020;
      border-radius: 20px;
      padding: 15px 20px;
      text-align: center;
      margin: 10px auto;
      margin-top: 15%;
      background-color: #9d5f19e4;
  }